In [ ]:
import pandas as pd

     Country  Income Per Day
0    Albania       14.847157
1    Algeria             NaN
2     Angola             NaN
3    Armenia        8.848503
4  Australia       72.711220

In [10]:
mean_income = pd.read_csv("mean-income-or-consumption-per-day_OURWORLDINDATA.csv")

mean_income = mean_income.drop(columns=["Year"])

mean_income = mean_income.rename(columns={"Mean income or consumption per day": "Income Per Day"})

mean_income.head()

     Country  Income Per Day
0    Albania       14.847157
1    Algeria             NaN
2     Angola             NaN
3    Armenia        8.848503
4  Australia       72.711220

In [ ]:
gdp = pd.read_csv("GDP_per_country_world_bank.csv")

# Rename column so both have 'Country'
gdp = gdp.rename(columns={"Data Source": "Country"})

common_countries = set(mean_income["Country"]).intersection(set(gdp["Country"]))

gdp = gdp[gdp["Country"].isin(common_countries)]
mean_income = mean_income[mean_income["Country"].isin(common_countries)]


gdp = gdp.sort_values("Country").reset_index(drop=True)
mean_income = mean_income.sort_values("Country").reset_index(drop=True)



gdp = gdp[["Country", "Unnamed: 68"]]

# Rename the column
gdp = gdp.rename(columns={"Unnamed: 68": "GDP in USD"})

gdp.head(10)

      Country    GDP in USD
0     Albania  2.717774e+10
1     Algeria  2.636200e+11
2      Angola  8.039694e+10
3     Armenia  2.578659e+10
4   Australia  1.752190e+12
5     Austria  5.216420e+11
6  Azerbaijan  7.431588e+10
7  Bangladesh  4.501190e+11
8    Barbados  7.165000e+09
9     Belarus  7.596187e+10

In [ ]:
hdi = pd.read_excel("HDR25_Statistical_Annex_HDI_Table.xlsx")

# Drop rows 0 through 6
hdi = hdi.drop(index=range(7))


hdi = hdi.rename(columns={
    "Table 1. Human Development Index and its components": "Country",
    "Unnamed: 2": "HDI Value"
})

hdi = hdi[["Country", "HDI Value"]]

common_countries = set(mean_income["Country"]).intersection(set(hdi["Country"]))


hdi = hdi[hdi["Country"].isin(common_countries)]
mean_income = mean_income[mean_income["Country"].isin(common_countries)]


hdi = hdi.sort_values("Country").reset_index(drop=True)
mean_income = mean_income.sort_values("Country").reset_index(drop=True)

hdi.head(20)

                   Country HDI Value
0                  Albania      0.81
1                  Algeria     0.763
2                   Angola     0.616
3                  Armenia     0.811
4                Australia     0.958
5                  Austria      0.93
6               Azerbaijan     0.789
7               Bangladesh     0.685
8                 Barbados     0.811
9                  Belarus     0.824
10                 Belgium     0.951
11                  Belize     0.721
12                   Benin     0.515
13                  Bhutan     0.698
14  Bosnia and Herzegovina     0.804
15                Botswana     0.731
16                  Brazil     0.786
17                Bulgaria     0.845
18            Burkina Faso     0.459
19                 Burundi     0.439

In [48]:
population = pd.read_excel("pop_per_country_world_bank.xls")

population = population.drop(index=range(3))

# Rename columns
population = population.rename(columns={
    "Data Source": "Country",
    "Unnamed: 68": "Population"
})

# Keep only Country and Population columns
population = population[["Country", "Population"]]

# Strip whitespace from Country names
population["Country"] = population["Country"].str.strip()
mean_income["Country"] = mean_income["Country"].str.strip()

common_countries = set(mean_income["Country"]).intersection(set(population["Country"]))


population = population[population["Country"].isin(common_countries)]
mean_income = mean_income[mean_income["Country"].isin(common_countries)]


population = population.sort_values("Country").reset_index(drop=True)
mean_income = mean_income.sort_values("Country").reset_index(drop=True)

population.head(10)

      Country   Population
0     Albania    2714617.0
1     Algeria   46814308.0
2      Angola   37885849.0
3     Armenia    3033500.0
4   Australia   27204809.0
5     Austria    9178482.0
6  Azerbaijan   10202850.0
7  Bangladesh  173562364.0
8    Barbados     282467.0
9     Belarus    9133712.0

In [56]:
combined = pd.concat([
    hdi[['Country']],        # only keep the Country column once
    hdi.drop(columns='Country'),
    gdp.drop(columns='Country'),
    mean_income.drop(columns='Country'),
    population.drop(columns='Country')
], axis=1)

combined.head(20)

,Country,HDI Value,GDP in USD,Income Per Day,Population
0,Albania,0.81,2.717774e+10,14.847157,2714617.0
1,Algeria,0.763,2.636200e+11,NaN,46814308.0
2,Angola,0.616,8.039694e+10,NaN,37885849.0
3,Armenia,0.811,2.578659e+10,8.848503,3033500.0
4,Australia,0.958,1.752190e+12,72.711220,27204809.0
5,Austria,0.93,5.216420e+11,81.631240,9178482.0
6,Azerbaijan,0.789,7.431588e+10,NaN,10202850.0
7,Bangladesh,0.685,4.501190e+11,7.510242,173562364.0
8,Barbados,0.811,7.165000e+09,NaN,282467.0
9,Belarus,0.824,7.596187e+10,20.547213,9133712.0
10,Belgium,0.951,6.645640e+11,69.923615,11876844.0
11,Belize,0.721,3.515783e+09,NaN,417072.0
12,Benin,0.515,2.148264e+10,5.266838,14462724.0
13,Bhutan,0.698,NaN,18.073696,791524.0
14,Bosnia and Herzegovina,0.804,4.966830e+10,NaN,3164253.0
15,Botswana,0.731,2.834339e+10,NaN,2521139.0
16,Brazil,0.786,1.940077e+10,25.532705,211998573.0
17,Bulgaria,0.845,2.179410e+12,39.411600,6444366.0
18,Burkina Faso,0.459,1.122120e+11,4.472096,23548781.0
19,Burundi,0.439,2.325021e+10,2.617127,14047786.0

In [58]:
combined_clean = combined.dropna()
combined_clean = combined_clean.iloc[:146]
combined_clean.to_csv('country_data_combined.csv', index=False)